<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: common_header(~{::title})">
<title>Microblog — Add Comment</title>
</head>
<body th:replace="layout :: common_body(~{::div})">
<div>
  <form class="form" action="home" th:action="@{/comment/add}" method="post">
						<div>
							<textarea class="form-control" name="message"
								placeholder="Message"></textarea>
						</div>
						
								<button type="submit">Send</button>
						</div>

    <div>
								<div th:if="${msg!=null}">
									<p>
										<span th:text="${msg}"></span>
									</p>
								</div>
        
          
								<div th:if="${param.error}">
									<p>
										<span>Invalid message.</span>
									</p>
								</div>
							</div>
</div>							

</form>
</body>
</html>
