<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: common_header(~{::title})">
<title>Microblog — Add Post</title>
</head>
<body th:replace="layout :: common_body(~{::div})">
<div>
  <form class="form" action="home" th:action="@{/post/add}" th:object="${postForm}"  method="post">
						<div>
							<textarea class="form-control" th:classappend="${#fields.hasErrors('message')} ? has-error : ''" th:field="*{message}"  name="message"
								placeholder="Message"></textarea>
						</div>
						
								<button class="button" type="submit">Send</button>
						</div>
    <div>
								<div th:if="${msg!=null}" class="help-block">
									<p>
										<span th:text="${msg}"></span>
									</p>
								</div>
          
								<div th:if="${param.error}" class="help-block">
									<p>
										<span>Invalid message.</span>
									</p>
								</div>
							</div>
</div>							

</form>
</body>
</html>
