<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: common_header(~{::title})">
<title>Microblog — Edit Comment</title>
</head>
<body th:replace="layout :: common_body(~{::div})">
<div>
  <div th:if="${msg==null}">
    <form class="form" action="home" th:action="@{/comment/{id}/edit(id=${comment.id})}" method="post">
						<div>
							<textarea class="form-control" name="message"
								placeholder="Message" th:inline="text">[[${comment.message}]]</textarea>
						</div>
						
								<button class="button" type="submit">Send</button>
						</div>
    </div>
    <div>
								<div th:if="${msg!=null}" class="help-block">
									<p>
										<span th:text="${msg}"></span>
									</p>
								</div>
							</div>
</div>
</body>
</html>

