<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: common_header(~{::title})">
<title>Microblog — Post</title>
<link rel="stylesheet" th:href="@{/assets/css/style.css}" />
</head>
<body th:replace="layout :: common_body(~{::div})">
<div>
  <div class="post" th:if="${exception}">
    <h1>Error</h1>
    <div class="postBody" th:text="${exception.message}">Text ...</div>
      
     
    
   </div>		
  
</div>  
</body>
</html>
