<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
 
<head th:fragment="common_header(title)">
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title th:replace="${title}">Microblog</title>
  <link rel="stylesheet" th:href="@{/assets/css/style.css}" />

</head>

<body th:fragment="common_body(div)">

<div class="main">	
  <div class="header">
    <a sec:authorize="!isAuthenticated()" th:href="@{/login}">Login</a>
    <a sec:authorize="!isAuthenticated()" th:href="@{/register}">Register</a>
    
    <a sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout (<span sec:authentication="name"></span>)</a>
    <a sec:authorize="isAuthenticated()" th:href="@{/notifications}" th:text="${notifcount}"></a>
    <a th:href="@{/posts}">Posts</a>
  </div>
  
	  <div class="container">

		  <div th:replace="${div}">
			  <!-- Page Content -->
		  </div>

	  </div>


	  <div class="footer">
		  <h1>
				  Microblog
		  </h1>
    <p>
      ©2019 xpakx 
    </p>
  	</div>
</div>

</body>
</html>
