<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: common_header(~{::title})">
<title>Microblog — Register</title>
</head>
<body th:replace="layout :: common_body(~{::div})">

<div>

 <form class="form"action="home" th:action="@{/register}" th:object="${userForm}" method="post">
   <div class="form-controls">
      <div class="control">
        <input type="text" class="form-control form-control-first" th:classappend="${#fields.hasErrors('username')} ? has-error : ''" th:field="*{username}" name="username" placeholder="Username" />
        <span th:if="${#fields.hasErrors('username')}" class="help-block" th:errors="*{username}"></span>
      </div>

						<div class="control">
							<input type="email" class="form-control form-control-middle" th:classappend="${#fields.hasErrors('email')} ? has-error : ''" th:field="*{email}" name="email"
								placeholder="Email" /> 
        <span th:if="${#fields.hasErrors('email')}" class="help-block" th:errors="*{email}"></span>
						</div>
      
						<div class="control">
							<input type="password" class="form-control form-control-middle" th:classappend="${#fields.hasErrors('password')} ? has-error : ''" th:field="*{password}"  name="password"	placeholder="Password" /> 
        <span th:if="${#fields.hasErrors('password')}" class="help-block" th:errors="*{password}"></span>
						</div>
      
      <div class="control">
							<input type="password" class="form-control form-control-last" th:classappend="${#fields.hasErrors('confirmPassword')} ? has-error : ''" th:field="*{confirmPassword}" name="confirmPassword" placeholder="Confirm Password" /> 
        <span th:if="${#fields.hasErrors('confirmPassword')}" class="help-block" th:errors="*{confirmPassword}"></span>
						</div>
     </div>
								<button class="register" type="submit">Register</button>

     
  </form>
 </div>
</body>
</html>
