<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
<title>Login</title>
</head>
<body>



 <form action="home" th:action="@{/register}" th:object="${userForm}" method="post">
      <div>
        <input type="text" class="form-control" th:field="*{username}" name="username"
								  placeholder="Username" />
        <span th:if="${#fields.hasErrors('username')}" class="help-block" th:errors="*{username}"></span>
     </div>

						</div>
						<div>
							<input type="email" class="form-control" th:field="*{email}" name="email"
								placeholder="Email" /> 
        <span th:if="${#fields.hasErrors('email')}" class="help-block" th:errors="*{email}"></span>
						</div>
      
						<div>
							<input type="password" class="form-control" th:field="*{password}"  name="password"
								placeholder="Password" /> 
        <span th:if="${#fields.hasErrors('password')}" class="help-block" th:errors="*{password}"></span>
						</div>
      
      <div>
							<input type="password" class="form-control" th:field="*{confirmPassword}" name="confirmPassword"
								placeholder="Confirm Password" /> 
        <span th:if="${#fields.hasErrors('confirmPassword')}" class="help-block" th:errors="*{confirmPassword}"></span>
						</div>
						
						<div>
								<button type="submit">Register</button>
						</div>
						

</form>
</body>
</html>
