<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org"
 xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
 
<head th:replace="layout :: common_header(~{::title})">
  <title th:text="@{${user} ? 'Microblog — ' + ${user.username} + '\'s comments' : 'Microblog'}">Microblog – User's Posts'</title>
</head>
<body th:replace="layout :: common_body(~{::div})">
<div>   
  <div class="user-list-header" th:if="${user}" >
    <div th:text="@{${user.username} + '\'s comments'}"></div>
    <a class="button" th:href="@{/user/{id}/posts(id=${user.id})}">show posts</a>
  </div>
  
  <div class="post" th:each="post : ${comments}">
    <a class="author" th:href="@{/user/{username}/posts(username=${post.user.username})}" th:text="${post.user.username}">Text ...</a>
    <p class="postBody" th:text="${post.message}">Text ...</p>
    
    <div class="actions" sec:authorize="hasRole('ROLE_ADMIN')">
      <a class="button" th:href="@{/post/{id}/edit(id=${post.id})}">edit</a>
      <form class="button-link-wrapper" th:action="@{/post/{id}/delete(id=${post.id})}" method="post"><button type="submit" class="button-link">delete</button></form>  
    </div>
    <div class="actions" th:if='${#authentication.getPrincipal().getUsername() == post.user.username}' sec:authorize="isAuthenticated() && !hasRole('ROLE_ADMIN')">
      <a class="button" th:href="@{/post/{id}/edit(id=${post.id})}">edit</a>
      <form class="button-link-wrapper" th:action="@{/post/{id}/delete(id=${post.id})}" method="post"><button type="submit" class="button-link">delete</button></form>        
    </div>
    
    <a class="action button" th:href="@{'/post/' + ${post.post.id}}">→</a> 
     
  </div>
</div>  
      
</body>
</html>
